[pyrat]

# Pyrat Bay run mode [tli atmosphere spectrum opacity radeq retrieval]
runmode = tli

# Output file:
logfile = exomol_SH_gyt_0.15-50.0um.log

# List of line-transtion databases:
dblist =
    inputs/32S-1H__GYT.trans
    inputs/32S-2H__GYT.trans
    inputs/33S-1H__GYT.trans
    inputs/34S-1H__GYT.trans
    inputs/36S-1H__GYT.trans

# Type of line-transition database [hitran exomol repack]
dbtype = exomol
# Partition functions for each database:
pflist = PF_exomol_SH.dat

# Initial and final wavelength:
wllow = 0.15 um
wlhigh = 50 um

# Verbosity level [1--3]:
verb = 2
